<!DOCTYPE html>
<html>
  <head>
    <title>ChatSystem</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Chat System</h1>

    <% if @current_user %>
      <p>
        Hello <%= @current_user.username %>
        (<%= link_to 'Logout', session_path, method: :delete %>)!
      </p>
    <% end %>

    <p id="notice"><%= notice %></p>

    <%= yield %>
  </body>
</html>
